#cloud-config
# vim: syntax=yaml
#
# ***********************
# 	---- for more examples look at: ------
# ---> https://cloudinit.readthedocs.io/en/latest/topics/examples.html
# ******************************
#
# This is the configuration syntax that the write_files module
# will know how to understand. encoding can be given b64 or gzip or (gz+b64).
# The content will be decoded accordingly and then written to the path that is
# provided.
#
# Note: Content strings here are truncated for example purposes.
ssh_pwauth: True
chpasswd:
  list: |
     root:sesamo
  expire: False

users:
  - name: jeffersonbellido # Change me  (nombre del dominio sin .com)
    ssh_authorized_keys:
      - ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQC4AKqST2oWhqOIQTVKQIXPJr1AphBSAkYuYmM0WsPxcH9+x78Q2PlCgvh8TWBMPeA4skZh7RRhjR5LXAP6RhkssoWA4d1TXM9Byqz4Ry2ai4M4+K/CW/GRpUWkRxafXA3Eje7BFa3VSBb/OItQaYKKz5XadtDua5C5LnBgalKRpq0E/x1ZxAJ7YWjlHDJdlXmsrxTxLdf3v+Js3jLbUIsOyMkwt4Da6688y4UG/Jt9g58DLz48PjhQcI+hWma9PBDpgLwhL3UK8Q2kA327qTOIuDkc4KTJIMIkZRHkXvQ7hvciSXXAwwn2rvDje3/PtVzTXiprIs9BkCvViLlaA80l jefferson@server
    sudo: ['ALL=(ALL) NOPASSWD:ALL']
    shell: /bin/bash
    groups: sudo
